.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html, body{
    background-color:  #F5EEDD;
    height: 100%;
    margin:0;
    padding:0;
}