.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

html, body{
    /* background-color:  #F5EEDD; */
    background-color:  #2f2a31;
    height: 100%;
    margin:0;
    padding:0;
}