.footer {
    width: 100%;
    min-height: 200px; /* Allows the footer to expand if needed */
    background: #212329;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Use gap to space items vertically instead of padding */
    box-shadow: rgba(252, 227, 4, 0.2) 0px 0px 20px 10px;
    /* Optional for sticky footer */
    margin-top: auto;
    padding: 20px 0; /* Adjust padding for more breathing room */
  }
  
.socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
}
  
.footer p {
    color: white;
}
  
@media only screen and (max-width: 600px) {
.footer svg {
      font-size: 50px;
}
}